/* Jacob Staub
   3/19/24
   CS 125h Term Project */

/*Main things*/
main {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	margin-top: 0;
}
main img {
	margin-right: 1em;
	width: 24%;
	min-width: 220px;
	align-self: center;
}

/*Table things*/
table {
	border-collapse: collapse;
}
tbody tr:nth-child(odd), tfoot tr:nth-child(odd) {
	background: #3f3f3f;
}
th, td {
	border: solid 2px #8b8780;
	padding: .3em 1.6em .3em .7em;
	color: var(--offwhite);
}
.head {
	text-align: left;
}
.foot{
	text-align: left;
	max-width: 300px;
}
figcaption {
	padding-bottom: .2em;
	color: var(--offwhite);
	font-size: 130%;
}

/*Other things*/
@media only screen and (max-width: 817px) {
	main {
		display: inline;
	}
	main img {
		display: block;
		float: none;
		margin: 1em auto;
		max-width: 220px;
	}
	table {
		margin: 0 auto;
	}
	figcaption {
		margin-top: 1em;
		text-align: center;
	}
}
