* {
	margin: 0px;
	padding: 0px;
}

/*Element things*/
html {
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: black;
}
body {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	background: #323639;
	color: #a1bcb4;
	font-family: verdana, arial, sans-serif;
}
h3 {
	font-size: 16pt;
}

/*Header things*/
header h1 {
	font-size: 30pt;
	color: #dfd9d1;
	padding-bottom: 19px;
	text-align: center;
}

/*Nav things*/
nav{
	width: 640px;
	margin: auto;
}
nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
}
nav ul li {
	float: left;
	width: 160px;
}
nav ul li a {
	display: block;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	background: #202224;
	text-decoration: none;
	color: #dfd9d1;
	font-weight: bold;
}
nav > ul::after{
	content: "";
	display: block;
	clear: both;
}
nav ul li a.current, a:hover, a:focus{
	color: #5dbee5;
}

/*Main things*/
main {
	width: 700px;
	margin: 0 auto;
	padding: 30px 0;
}
main h1 {
	font-size: 1.5em;
	color: #dfd9d1;
	margin-left: 30px;
	margin-bottom: 30px;
}
main h2 {
	color: #dfd9d1;
	padding-top: 19px;
}
main h3 {
	color: #dfd9d1;
	padding-top: 19px;
}
main p {
	padding-top: 19px;
	padding-right: 19px;
	padding-left: 19px;
}

/*Form things*/
fieldset {
    margin-bottom: .5em;
    padding: .5em 1em;
	border: none;
}
input {
    width: 300px;
    margin-left: 30px;
    margin-bottom: 1em;
	border-radius: 12px;
	padding: 10px;
	box-sizing: border-box;
	border: none;
	font-size: 14px;
	font-weight: bold;
	font-family: verdana, arial, sans-serif;
}
br {
    clear: both;
}
input:required {
	border: 3px solid #74322d;
	box-sizing: border-box;
}
input:valid {
	border: 3px solid #dfd9d1;
	box-sizing: border-box;
}
input:invalid {
	box-shadow: none;
}
input.button {
	width: 10em;
	margin-left: 30px;
	border: none;
	margin-top: 30px;
	background: #dfd9d1; 
	color: #202224;
}
input.comment {
	width: 639px;
	margin-left: 30px;
	height: auto;
}
/*Other things*/
.scale {
	display: block;
	max-width: 100%;
	max-height: 20vh;
	height: auto;
	padding-top: 19px;
	padding-bottom: 19px;
	margin-right: auto;
	margin-left: auto;
}	
main a:link {
	color: #3990ff;
}
main a:hover, a:focus {
	color: #1b80a9;
}
main a:visited{
	color: #dfd9d1;
}