/* Jacob Staub
   3/19/24
   CS 125h Term Project */

/*Main things*/
main {
	border: 3px solid #dfd9d1;
	border-radius: 7px;
	margin-bottom: 1em;
}
main img {
	width: 100%;
}

/*Other things*/
.gridContainer {
	display: grid;
	grid-template-columns: auto auto auto;
	column-gap: 1em;
	row-gap: 1em;
	align-items: center;
}

@media only screen and (max-width: 817px) {
	.gridContainer {
		grid-template-columns: auto auto;
	}

@media only screen and (max-width: 603px) {
	main img {
		display: block;
		float: none;
		margin: 0 auto;
	}
	main h1 {
		text-align: center;
	}
}

@media only screen and (max-width: 335px) {
	.gridContainer {
		grid-template-columns: auto;
	}
} 
