/* Jacob Staub
   3/19/24
   CS 125h Term Project */

* {
	margin: 0px;
	padding: 0px;
	font-weight: bold; 
}

/*Element things*/
html {
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: black;
}
body {
	width: 100%;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	background: #323639;
	color: #a1bcb4;
	font-family: verdana, arial, sans-serif;
}
h1 {
	font-size: 150%;
	color: #dfd9d1;
}
h2 {
	color: #dfd9d1;
}
h3 {
	font-size: 100%;
	color: #dfd9d1;
}
a:link {
	color: #3990ff;
}
a:hover, a:focus {
	color: #1b80a9;
}
a:visited{
	color: #dfd9d1;
}

/*Header things*/
header {
	position: relative;
}
header h1 {
	font-size: 220%;
	color: #dfd9d1;
	padding-bottom: 1em;
	text-align: center;
}

/*Nav things*/
nav ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin: 0;
}
nav ul li {
	display: inline;
}
nav ul li a {
	display: inline-block;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	background: #202224;
	text-decoration: none;
	color: #dfd9d1;
	width: 13.3%;
}
nav ul li a.current, a:hover, a:focus {
	color: #5dbee5 !important;
}

/*Main things*/
main {
	overflow: auto;
	width: 83.33%;
	margin: 0 auto;
	padding: 1em;
	margin-top: 1em;	
}

/*Other things*/
.scale {
	display: block;
	width: 30%;
	min-width: 250px;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-right: auto;
	margin-left: auto;
}
#mobile_menu { display: none; }

@media only screen and (max-width: 817px) {
	#nav_menu {
		display: none;
	}
	#mobile_menu {
		display: block;
		max-width: 436px;
		margin: 0 auto;
	}
	.slicknav_menu {
		background: #202224 !important;
	}
	.slicknav_menutxt, .slicknav_icon, .slicknav_nav a {
		color: #dfd9d1 !important;
	}
	.slicknav_nav a:hover {
		background: #202224 !important;
	}
	.slicknav_icon-bar {
		background-color: #dfd9d1 !important;
	}
}

@media only screen and (max-width: 603px) {
	main h1 {
		font-size: 130%;
	}
	header h1 {
		font-size: 160%;
	}
	#mobile_menu {
		max-width: 350px;
	}
}

@media only screen and (max-width: 335px) {
	body {
		font-size: 90%;
	}
}
