/* Jacob Staub
   3/19/24
   CS 125h Term Project */

/*Main things*/
main {
	padding: 30px 0;
}
main p {
	text-align: center;
	padding-top: 1em;
	padding-right: 1em;
	padding-left: 1em;
}

/*Form things*/
section {
	display: block;
	margin: 0 auto;
	text-align: center;
}
fieldset {
	width: 83.33%;
	border: none;
	display: inline;
}
input {
    width: 33.3%;
	border-radius: 12px;
	margin: 7px;
	padding: 10px;
	box-sizing: border-box;
	border: none;
	font-size: 87.5%;
	font-family: verdana, arial, sans-serif;
}
br {
    clear: both;
}
input:required {
	border: 3px solid #74322d;
	box-sizing: border-box;
}
input:valid {
	border: 3px solid #dfd9d1;
	box-sizing: border-box;
}
input:invalid {
	box-shadow: none;
}
input.button {
	display: block;
	width: 10em;
	margin: 0 auto;
	border: none;
	margin-top: 30px;
	background: #dfd9d1; 
	color: #202224;
}

/*Other things*/
@media only screen and (max-width: 817px) {
	input {
		display: block;
		margin: 15px auto;
		width: 68.6%;
	}
}

@media only screen and (max-width: 603px) {
	main p {
		font-size: 90%;
	}
	#form input {
		min-width: 290px;
	}
}

@media only screen and (max-width: 348px) {
	#form input {
		min-width: 220px;
	}
}
